body {
  background-color: rgb(176, 235, 215);
  text-align: center;
}

.container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

button {
  border: none;
  padding: 0.8rem 1.3rem;
  background-color: rgb(62, 100, 4);
  color: white;
  margin: 0.3rem;
  cursor: pointer;
  border-radius: 0.3rem;
}

button:hover {
  background-color: greenyellow;
  color: black;
}

.steps {
  background-color: rgb(3, 3, 89);
  color: white;
}

.steps:hover {
  background-color: rgb(121, 121, 241);
  color: black;
}
